<section id="aboutTheAuthor">
    <div id="textContainer"><h2>ABOUT THE AUTHOR</h2>
        <br/><br/>
       <b>Davide Bellone</b> is a software developer with more than 10 years of professional experience with Microsoft platforms and frameworks.
       <br/><br/>
        He loves learning new things and sharing these learnings with others: that’s why he writes on this blog and is involved as speaker at tech conferences.
        <br/><br/>
        He's a <b>Microsoft MVP 🏆 and content creator <a href="https://www.linkedin.com/in/bellonedavide/" target="_blank"> on LinkedIn🔗</a></b>.
    </div> 
    <div id="imageContainer">
        <img src="/img/personal/high-res-transparent-face-mini.png"/ >          
    </div>
</section>