<section id="aboutTheAuthor">
    <div id="textContainer">
        <h2>About the author</h2>
        <p>
       <b>Davide Bellone</b> is a Principal Backend Developer with more than 10 years of professional experience with Microsoft platforms and frameworks.
    </p>
    <p>
        He loves learning new things and sharing these learnings with others: that’s why he writes on this blog and is involved as speaker at tech conferences.
    </p>
    <p>
        He's a <b>Microsoft MVP 🏆</b>, <b>conference speaker</b> (here's <a href="https://sessionize.com/davide-bellone/" target="_blank">his Sessionize Profile</a>) and <b>content creator <a href="https://www.linkedin.com/in/bellonedavide/" target="_blank"> on LinkedIn</a></b>.
        </p>
    </div> 
    <div id="imageContainer">
        <img src="/img/personal/high-res-transparent-face-mini.png"/ >          
    </div>
</section>