<div class="content">
    <h1 class="article-title">
        <a href="{{ .ctx.Permalink }}">
            {{ .ctx.Title }}
        </a>
    </h1>

    <div class="meta">
        {{ if ( .ctx.Params.showDate | default true ) }}
            {{ if ( .ctx.Site.Params.enableMomentJs | default true ) }}
                <span class="date moment">{{ .ctx.PublishDate.Format "2006-01-02" }}</span>
            {{ else }}
                <span class="date">{{ .ctx.PublishDate.Format (.ctx.Site.Params.DateFormat | default "2006-01-02") }}</span>
            {{ end }}
        {{ end }}

        {{ if ( .ctx.Site.Params.showReadingTime | default false ) }}
            {{ if eq .ctx.Params.readingTime 0 }}
                <!-- hide reading time when it's set to 0 -->
            {{ else if .ctx.Params.readingTime }}
                <span class="readingTime">{{ i18n "readingTime" .ctx.Params.readingTime }}</span>
            {{ else }}
                <span class="readingTime">{{ i18n "readingTime" .ctx.ReadingTime }}</span>
            {{ end }}
        {{ end }}

        {{ with .ctx.Params.categories }}
            <span class="categories">
                {{ range . }}
                    {{ $urlValue := replace . " " "-" | lower}}
                    {{ with $.ctx.Site.GetPage (printf "/categories/%s" $urlValue) }}
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    {{ end }}
                {{ end }}
            </span>
        {{ end }}

        {{ with .ctx.Params.author }}
            <span class="author">
                {{ $urlValue := replace . " " "-" | lower}}
                {{ with $.ctx.Site.GetPage (printf "/author/%s" $urlValue ) }}
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{ end }}
            </span>
        {{ end }}
    </div>

    {{ if or (eq .template_type "single") (.ctx.Params.noSummary) }}
        
        {{ if and (gt .ctx.WordCount .ctx.Site.Params.tocMinWordCount ) (.ctx.Params.toc) }}
    
            <blockquote>
                <p>
                {{ .ctx.Summary }}
                </p>
            </blockquote>

            <h2>{{ i18n "tableOfContents" | default "tableOfContents" }}</h2>
            {{ .ctx.TableOfContents }}

            {{ end }}
        {{ if  (.ctx.Params.hideAdsMessage | default  false) }}
        {{ else }}

            <blockquote style="text-align: center; border: dashed 5px;border-color:#dbae58;">
             <b>   Just a second! 🫷</b> <br/> If you are here, it means that you are a software developer. 
                So, you know that <u> storage, networking, and domain management have a cost </u>.
                <br/><br/>   If you want to support this blog, please ensure that you have disabled the adblocker for this site.
                <b>I configured Google AdSense to show as few ADS as possible</b> - I don't want to bother you with lots of ads, but I still need to add some to pay for the resources for my site.
                <br/><br/>
                Thank you for your understanding. <br/>- <i>Davide</i>
            </blockquote>
            {{ end }}
            
        {{ .ctx.Content }}

        {{ if  (.ctx.Params.hideMyDescription | default  false) }}
        {{ else }}
        <blockquote id="aboutTheAuthor"  >
           
           
            <div id="textContainer"><b>ABOUT THE AUTHOR</b>
                <br/><br/>
               <b>Davide Bellone</b> is a software developer with more than 10 years of professional experience with Microsoft platforms and frameworks.
               <br/><br/>
                He loves learning new things and sharing these learnings with others: that’s why he writes on this blog and is involved as speaker at tech conferences.
                <br/><br/>
                He's a <b>Microsoft MVP 🏆 and content creator <a href="https://www.linkedin.com/in/bellonedavide/" target="_blank"> on LinkedIn🔗</a></b>.
                
            <div>

            </div>
            </div> 
            <div id="imageContainer">
                <img src="/img/personal/high-res-transparent-face-mini.png"/ >

            
            </div>
           </blockquote>
           {{ end }}

    {{ else }}
        {{ .ctx.Summary }}

        {{ if or (.ctx.Truncated) (isset .ctx.Params "summary") }}
            <a href="{{ .ctx.Permalink }}" class="more">{{ i18n "continueReading" }}</a>
        {{ end }}
    {{ end }}
</div>
