
#aboutTheAuthor {
    display: flex;
    flex-wrap: wrap;
    /* color: #006400; */
    align-items: center;
    font-size: 1.05em;
    margin: 1.5em 0;
    padding: 2em;
}

#aboutTheAuthor a {
  text-decoration: underline;
}

#textContainer {
    flex: 1 1 70%;
    padding: 10px;
    box-sizing: border-box;
}

#imageContainer {
    flex: 1 1 30%;
    padding: 10px;
    box-sizing: border-box;
}

#imageContainer img {
    width: 100%;
    height: auto;
     border-radius: 50%  ;
     box-shadow: #006400;
}

section#sessionize-embed ul {
    list-style: none;
}
section#sessionize-embed a {
    color: #488a99;
}

@media (max-width: 600px) {
    #aboutTheAuthor {
      flex-direction: column;
    }
}

#related-articles-wrapper {
    padding: 2em;
    /* width: 800px; */
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tile {
    flex: 1 0 300px;
    background-color: #fff;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.tile p{
    margin-bottom: 0 ;
}
