
#aboutTheAuthor {
    display: flex;
    flex-wrap: wrap;
    /* color: #006400; */
    align-items: center;
    font-size: 1.05em;
    margin: 1.5em 0;
    padding: 2em;
}

#textContainer {
    flex: 1 1 70%;
    padding: 10px;
    box-sizing: border-box;
}

#imageContainer {
    flex: 1 1 30%;
    padding: 10px;
    box-sizing: border-box;
}

#imageContainer img {
    width: 100%;
    height: auto;
     border-radius: 50%  ;
     box-shadow: #006400;
}

section#sessionize-embed ul {
    list-style: none;
}
section#sessionize-embed a {
    color: #488a99;
}